<h1>All Posts</h1>

<%= link_to "New Post", new_post_path %>

<div>
  <hr/>
  <% @posts.each do |post| %>
    <p><%= simple_format(post.content) %></p>
    <p>
      <strong>Author:</strong> <%= post.user.username %> | 
      <strong>Comments:</strong> <%= link_to post.comments.count, post_path(post) %> | 
      <strong>Last Updated:</strong> <%= post.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </p>
    <% if post.user == current_user %>
      <p>
        <%= link_to "Edit", edit_post_path(post) %> 
      </p>
    <% end %>
    <hr/>
  <% end %>
</div>

<%= form_with url: root_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :username, "Filter by Username" %>
    <%= form.text_field :username, value: params[:username] %>
    <%= form.submit "Filter" %>
    <%= link_to "Clear", root_path %>
  </div>
<% end %>

<p>
  Logged in as <strong><%= current_user.username %></strong> | 
  <%= link_to "Logout", logout_path, method: :delete %>
</p>
